Package: com.libretro.chimerasnes
Name: ChimeraSNES
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of ChimeraSNES
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
